.container {
    padding: 2rem 2rem;
}

.siders {
    display: flex;
}

.sider {
    padding-left: 2rem;
}

.square {
    margin-left: 2rem;
    width: 4rem;
    height: 2rem;
    border: 1px solid black;
}

.blue-background {
    background-color: blue;
}

.white-background {
    background-color: white;
}

.black-background {
    background-color: black;
}

.brown-background {
    background-color: burlywood;
}

.grey-background {
    background-color: grey;
}
